<h1>calendar</h1>

<!-- .group_by { |meeting| meeting.date } -->

<% @meetings.order(:start_date).group_by(&:start_date).each do |date, meetings| %>
  <div>
    <p><%= date %></p>
    <% meetings.each do |meeting| %>
      <%= meeting.start_date %>
      <%= meeting.start_time.strftime("%k:%M") %>
      <%= link_to meeting.name, meeting_path(meeting) %>
    <% end %>
  </div>
<% end %>
