<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 col-sm-offset-4">
      <div class="form-login-signup">
        <h1>game meeting</h1>
        <%= render 'form', meeting: @meeting, boardgame_id: (@boardgame.id if @boardgame) %>
      </div>
    </div>
  </div>
</div>
