// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-purple: #47255F;
/* Purple */
$purple: #662C91;
/* Light purple */
$light-purple: #A380BD;
/* Grey */
$meeplay-gray: #BBBBBB;
/* Very dark grey */
$dark-gray: #383838;
/* White */
$white: #FFFFFF;
