// Specific CSS for your home-page
#banner {
  height: 350px;
  background-image: url("https://images.unsplash.com/photo-1611891487122-207579d67d98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  background-size: cover;
  color: white;
  h2 {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 50px;
  }
}

.container-meeplay {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  h1 {
    font-size: 50px;
  }
}

.container-catch-frase {
  padding-top: 10px;
  h2 {
    text-align: center;
    padding: 10px;
  }
}

.container-btn {
  display: flex;
  justify-content: center;
  padding: 20px;
  .b_btn {
    margin-bottom: 3px;
  }
}
