// Specific CSS for your home-page
.container-picture {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container-picture img {
  border-radius: 50%;
}

.container-meeplay {
  display: flex;
  justify-content: center;
}

.container-catch-frase {
  display: flex;
  justify-content: center;
}

.container-btn {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 20px;
  .b_btn {
    margin-bottom: 3px;
  }
}
