<div class="banner container-picture">
  <img src="https://images.unsplash.com/photo-1611891487122-207579d67d98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80" alt="">
</div>
<div class="container-meeplay">
  <h1>meeplay</h1>
</div>
<div class="container-catch-frase">
  <h2>find people. meet. play.</h2>
</div>
<div class="container-btn">
  <div>
    <%= link_to 'start now', meetings_path, class: 'a_btn' %>
  </div>
</div>
