<div id="banner">
</div>
<div class="container-meeplay">
  <%= render 'shared/meeple_svg' %>
</div>
<div class="container-catch-frase">
  <h2>find people. meet. play.</h2>
</div>
<div class="container-btn">
  <div>
    <%= link_to 'start now', meetings_path, class: 'a_btn' %>
  </div>
</div>
