.plus_btn{
  border-radius: 50%;
  padding: 16px;
  line-height: 0px;
  background: linear-gradient(360deg, #662C91 -0.08%, #A380BD 100%);
  text-decoration: none;
  color: white;
  font-size:40px;
  position: relative;
  bottom: 38px;
  border: 10px solid white;
  width: 90px;
  height: 90px;
  text-align: center;
}

.plus_btn:hover{
  color: white;
}

.plus_btn:active {
  color: white;
}
.plus_btn:focus {
  color: white;
}

.m-height-navbar{
  max-height: 7%;
}






.home_btn{
  text-decoration: none;
  color: #A380BD;
}

.avatar_btn{
  text-decoration: none;
  color: #A380BD;
  font-size:24px;

}

.a_btn{
  text-decoration: none;
  width: 140px;
  height: 37.97px;
  background: linear-gradient(360deg, #662C91 -0.08%, #A380BD 100%);
  border-radius: 25px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.b_btn{
  text-decoration: none;
  width: 140px;
  height: 37.97px;
  background: #FFFFFF;
  border: 1px solid #662C91;
  border-radius: 25px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: #662C91;
}



.calendar_btn{
  text-decoration: none;
  color: #A380BD;
  font-size:25px;
}

.messages_btn{
  text-decoration: none;
  color: #A380BD;
  font-size:25px;
  margin-bottom: 10px;
  line-height: 3px;
}

.messages_btn:hover{
  text-decoration: none;
  color: #A380BD;
  font-size:25px;
  margin-bottom: 10px;
  line-height: 3px;
}
