.plus_btn{
  width: 70px;
  height: 97.45px;
  left: 154px;
  top: 721.55px;
  background: linear-gradient(360deg, #662C91 -0.08%, #A380BD 100%);
}

.home_btn{
  left: 15.69%;
  right: 14.31%;
  top: 0%;
  bottom: -0.56%;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 87.8431px;
  line-height: 98px;
  color: #FFFFFF;
}

.avatar_btn{
  width: 51px;
  height: 51px;
  left: 21px;
  top: 12px;
  background: linear-gradient(360deg, #662C91 -0.08%, #A380BD 100%);
}

.a_btn{
  width: 140px;
  height: 37.97px;
  background: linear-gradient(360deg, #662C91 -0.08%, #A380BD 100%);
  border-radius: 25px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.b_btn{
  width: 140px;
  height: 37.97px;
  background: #FFFFFF;
  border: 1px solid #662C91;
  border-radius: 25px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #662C91;
  text-decoration: none;
}

.chat_btn{
  left: 69.87%;
  right: 21.87%;
  top: 94.58%;
  bottom: 1.6%;
  background: #FFFFFF;
  border: 3px solid #A380BD;

}


.calendar_btn{
  width: 31px;
  height: 31px;
  left: 99px;
  top: 764px;
  background: linear-gradient(360deg, #662C91 -0.08%, #A380BD 100%);
}

.messages_btn{
  left: 66.4%;
  border: 3px solid #A380BD;
  box-sizing: border-box;
}
