.plus_btn{
  border-radius: 50%;
  padding: 16px;
  line-height: 0px;
  background: linear-gradient(360deg, #662C91 -0.08%, #A380BD 100%);
  text-decoration: none;
  color: white;
  font-size:40px;
  position: relative;
  bottom: 42px;
  border: 10px solid white;


}

.m-height-navbar{
  max-height: 7%;
}






.home_btn{
  text-decoration: none;
  color: #A380BD;
  font-size:25px;
}

.avatar_btn{
  text-decoration: none;
  color: #A380BD;
  font-size:23px;

}

.a_btn{
  width: 140px;
  height: 37.97px;
  background: linear-gradient(360deg, #662C91 -0.08%, #A380BD 100%);
  border-radius: 25px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

b.btn{
  width: 140px;
  height: 37.97px;
  background: #FFFFFF;
  border: 1px solid #662C91;
  border-radius: 25px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #662C91;
}

.chat_btn{


}


.calendar_btn{
  text-decoration: none;
  color: #A380BD;
  font-size:25px;
}

.messages_btn{



  text-decoration: none;
  color: #A380BD;
  font-size:25px;

}
