.message {
  display: flex;
  align-items: center;

  .date {
    opacity: .6;
    font-size: 0.8rem;
  }

  p {
    width: fit-content;
    padding: 10px 5%;
    border-radius: 20px;
    margin: 0;
  }
}

.sent-message {
  text-align: right;
  justify-content: flex-end;

  p {
    background-color: $purple;
    color: white;
  }

  .avatar {
    display: none;
  }
}

.received-message {
  text-align: left;

  p {
    background-color: white;
    color: black;
    box-shadow: 1px 2px 2px 0px #ccc;
  }
}
