.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}

.navbar-top .dropdown {
  width: 47px;
  display: flex;
  justify-content: center;
}

.navbar-brand {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0;
}

.back-arrow {
  width: 47px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  h1 {
    color: $meeplay-gray;
    margin: 0;
    font-size: 30px;
  }
}

.dropdown-menu{
  left:-114px !important;
  top: 120% !important;
  border-color: $very-light-purple;
  filter: drop-shadow(0px -3px 54px rgba(102, 44, 145, 0.2));
}

.dropdown-menu a {
  color: $light-purple;
}

.navbar-top {
  background: transparent !important;
  margin-bottom: 15px;
  margin-top: 10px;
  display: flex;
}
