.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}

.navbar-brand {
  // position: relative;
  // left: 50vw;
  // display: block;
  // margin: auto;
  margin: 0;
}

.dropdown-menu{
  left:-114px !important;
  top: 120% !important;
  border-color: $very-light-purple;
  filter: drop-shadow(0px -3px 54px rgba(102, 44, 145, 0.2));
}

.dropdown-menu a {
  color: $light-purple;
}

.navbar-top {
  background: transparent !important;
  margin-bottom: 29px;
  margin-top: 10px;
}
